/* Start Feature Area
==================================================*/

.sectionTitle span {
  color: #ff5b5b;
  display: block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  margin-bottom: 20px;
}

.sectionTitle h2 {
  font-size: 36px;
  line-height: 1.3;
  margin-bottom: 0;
  font-weight: 500;
}

.featureIcon span {
  background: #fbe8ff;
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.featureIcon {
  position: relative;
}
.featureIcon img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.singleItem:hover .featureIcon img {
  left: 20px;
}
.featureContent h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.featureContent p {
  margin-bottom: 0;
}
.featureIcon span {
  background: #ffe7e7;
}

.shapeAf1 {
  left: 13px;
  top: 50%;
  animation: animationFramesOne 30s alternate infinite linear;
  -webkit-animation: animationFramesOne 30s alternate infinite linear;
}
.shapeAf {
  right: 12%;
  top: 31%;
  animation: animationFramesOne 30s alternate infinite linear;
  -webkit-animation: animationFramesOne 30s alternate infinite linear;
}
.shapeCircle {
  height: 20px;
  width: 20px;
  background: #c2e7ff;
  border-radius: 50%;
  display: inline-block;
}
.shapeC2 {
  left: 18%;
  top: 15%;
  background: #ffc2c2;
  animation: animationFramesTwo 30s alternate infinite linear;
  -webkit-animation: animationFramesTwo 30s alternate infinite linear;
}
