/* Start Feature Area
==================================================*/

.featureIcon {
  position: relative;
}
.featureIcon img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.singleItem:hover .featureIcon img {
  left: 20px;
}
.featureContent h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.featureContent p {
  margin-bottom: 0;
}

.shapeAf1 {
  left: 13px;
  top: 50%;
  animation: animationFramesOne 30s alternate infinite linear;
  -webkit-animation: animationFramesOne 30s alternate infinite linear;
}
.shapeAf {
  right: 12%;
  top: 31%;
  animation: animationFramesOne 30s alternate infinite linear;
  -webkit-animation: animationFramesOne 30s alternate infinite linear;
}
.shapeCircle {
  height: 20px;
  width: 20px;
  background: #c2e7ff;
  border-radius: 50%;
  display: inline-block;
}
.shapeC2 {
  left: 18%;
  top: 15%;
  background: #ffc2c2;
  animation: animationFramesTwo 30s alternate infinite linear;
  -webkit-animation: animationFramesTwo 30s alternate infinite linear;
}

.featureIcon-1 {
  background: #eef5ff;
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.featureIcon-2 {
  background: #ffe7e7;
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.featureIcon-3 {
  background: #fbe8ff;
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
.featureIcon-4 {
  background: #ffefdb;
  display: inline-block;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}
